#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ModHoardCollector configuration
########################################
#
#    ModHoardCollector.Enable
#        Description: Enable my module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModHoardCollector.Enable = 1

#    ModHoardCollector.ItemID
#        Description: Creature entry from creature_template used as Hoard the Collector.
#        Default:     32547
#

ModHoardCollector.NpcID = 70000


